{% extends 'base.tmpl' %}

{% block content %}
<table border="1">
   <caption>Цітата вєлікого чєловека</caption>
   <tr>
    <th>ЛУКашеНко</th>
    <th>или просто</th>
    <th>Аляксандр Рыгоравіч</th>
   </tr>
   <tr><td>А я сейчас Вам покажу,</td><td>откуда на Беларусь</td><td>готовилось нападение.</td></tr>
   <tr><td>И если бы за</td><td>шесть часов до операции</td><td>не был нанесён</td></tr>
   <tr><td>превентивный удар</td><td>по позициям — </td><td>четыре позиции,</td></tr>
   <tr><td>я сейчас покажу карту, привёз —</td><td>они бы атаковали</td><td>наши войска, Беларуси и России,</td></tr>
   <tr><td>которые были на учениях.</td><td>Поэтому не мы развязали</td><td>эту войну,</td></tr>
   <tr><td>у нас совесть чиста.</td><td>Хорошо, что начали.</td><td>Биологическое оружие, </td></tr>
   <tr><td> самые большие атомные</td><td>электростанции — и всё это</td><td>были готовы взорвать</td></tr>
  </table>
{% endblock content %}
