{% extends 'base.tmpl' %}

{% block content %}
<h1>Cпочатку ти такий на чилі:</h1>
<img src="zhdun4.png">
<h2>І такий:</h2>
<img src="zhdun5.png">
<h3>А потім все ж таки ідеш на роботу і:</h3>
<img src="zhdun2.png">
<h4>А потім вона:</h4>
<img src="zhdun3.png">
<h5>І ти просто:</h5>
<img src="zhdun6.png">
<h6>А вона:</h6>
<img src="zhdun1.png">


<p>автор: 100/10</p>
<p>персонажи: 9/10</p>
<p>сюжет: 11/10</p>

КОНЦОВКА ТОП
{% endblock content %}
