{% extends 'base.tmpl' %}

{% block content %}
<h1>Прийшли окупанти до нас в Україну</h1>
<p>Форма новенька, воєнні машини</p>

<h2>Та трохи поплавився їх інвентар</h2>
<p>Байрактар… Байрактар…</p>

<h3>Російскі танкісти сховались в кущі,</h3>
<p>Щоб лаптем посьорбати довбані щі</p>

<h4>Та трохи у щах перегрівся навар</h4>
<p>Байрактар… Байрактар…</p>

<h5>Зі сходу припхались до нас барани</h5>
<p>Для вастанавлєнья велікай страни.</p>

{% endblock content %}
