{% extends 'base.tmpl' %}

{% block content %}

<h1>Рецепт справжнього українського борщу</h1>

<img src="borsch.png">

<p>Щоб вам не казали і як би не переконували, але справжній український борщ - це той борщ, який варять у вашій родині.
В Україні існує десятки рецептів борщу. Вони варіюються у залежності від регіону.
Але в кожного борщ асоціюється зі смаком дитинства - з борщем, який варила мама чи бабуся.</p>
<p>Пропонуємо вам класичний рецепт українського борщу. А також пропонуємо приготувати до нього пампушки з часником за нашим рецептом.</p>

<h3>Інгредієнти:</h3>

<ul>
  <li>Свинячі кістки з м'ясом - 500 г</li>
  <li>Квасоля - 200 г</li>
  <li>Буряк - 1 шт</li>
  <li>Картопля - 3-4 шт</li>
  <li>Капуста - 0,5 маленької головки</li>
  <li>Морква - 1 шт</li>
  <li>Цибуля - 1 шт</li>
  <li>Томатна паста - 70 г</li>
  <li>Цукор - 1 ст. л</li>
  <li>Оцет - 1 ст. л.</li>
  <li>Сіль - до смаку</li>
  <li>Лимонний сік - до смаку</li>
  <li>Перець духмяний - 3-4 горошини</li>
  <li>Лавровий лист - 2 шт</li>
  <li>Часник - 2 зубці</li>
  <li>Олія - для смаження</li>
  <li>Сметана - для подачі</li>
</ul>


 <ol>
    <li>Крок І</li>
        <p>Першим підготовчим етапом у приготуванні борщу є бульйон. Його можна зварити заздалегідь, бо цей процес займає кілька годин.</p>
        <p>Свинину на кістці промийте. Залийте водою і варіть приблизно 2-3 години, знімаючи шумовиння, яке утворюватиметься на поверхні.</p>
        <p>Вогонь має бути невеликий, а сам бульйон не має кипіти, щоб залишитися чистим і прозорим. Наприкінці готовності посоліть бульйон і додайте перець духмяний та лавровий листок.</p>
    <li>Крок ІІ</li>
        <p>Квасолю краще замочити у холодній воді на ніч - так вона швидше звариться. Якщо ви цього не зробили, тоді просто промийте, залийте водою і варіть до готовності. Коли квасоля буде м'якою, воду відцідіть.
    <li>Крок ІІІ</li>
        <p>Буряк почистьте і натріть на крупній терці або поріжте брусочками - як вам смакує більше. Тушкуйте під кришкою на сковороді з невеликою кількістю олії до готовності. Періодично підливайте воду, щоби буряк не смажився, а саме тушкувався.
    <li>Крок ІV</li>
        <p>Цибулю нарізати кубиками, тушкувати на невеликому вогні у невеликій кількості олії. Моркву крупно натерти на тертці. Додати до цибулі, тушкувати 2-3 хвилини, додати томатну пасту і тушкувати ще декілька хвилин.</p>
    <li>Крок V</li>
        <p>З бульйону дістати кістку і відокремити від неї м'ясо, порізати на невеликі шматки. Вкинути м'ясо назад у бульйон.</p>
    <li>Крок VІ</li>
        <p>Почистити і порізати картоплю невеликими кубиками. Вкинути у бульйон з м'ясом. Додати тонко пошатковану капусту, буряк та квасолю. Варити до м'якості картоплі.</p>
    <li>Крок VІІ</li>
        <p>Додайте цукор і оцет. В борщ всипати засмажку. Скуштувати - посолити до смаку, кислоту регулювати лимонним соком.</p>
        <p>Довести до кипіння. Заправити розчавленим часником і вимкнути вогонь.</p>
    <li>Крок VІІІ</li>
        <p>Накрити кришкою і настоювати 15 хвилин перед подачею на стіл.</p>
        <p>Подавати зі сметаною та пампушками з часником.</p>
 </ol>





{% endblock content %}
				