<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Сайт Українського Чілу</title>
 <link rel="stylesheet" href="{{style}}">
 </head>
 <body>
  <div id="container">
   <div id="header">Техно-Чіл 420
   </div>
   <div id="menu">
    <p><a href="index.php">Головна</a></p>
    <p><a href="lab1-1.php">Байрактар</a></p>   
    <p><a href="lab1-2.php">Борщ</a></p>   
    <p><a href="lab1-3.php">Цітата</a></p>   
    <p><a href="lab1-4.php">Серіал</a></p>   
    <p><a href="lab1-5.php">Чмоня <3</a></p>   
   </div>
   <div id="content">
    {% block content %}

    {% endblock content %}
   </div>
   <div id="footer">&copy; 2016
   </div>
  </div>
 </body>
</html>	
