{% extends 'base.tmpl' %}

{% block content %}
<h1>ЧМОНЯ <3</h1>

<table border="1">
   <caption><h2>Який ти чмоня сьогодні?</h2></caption>
   <tr><td><img src="chmonya (1).jpg"></td><td><center>атб чмоня</center></td></tr>
   <tr><td><img src="chmonya (2).jpg"></td><td><center>VIP чмоня Хісока</center></td></tr>
   <tr><td><img src="chmonya (3).jpg"></td><td><center>чмоня потер</center></td></tr>
   <tr><td><img src="chmonya (4).jpg"></td><td><center>романтичний-чмоня</center></td></tr>
   <tr><td><img src="chmonya (5).jpg"></td><td><center>чмоня-блум</center></td></tr>
   <tr><td><img src="chmonya (6).jpg"></td><td><center>чмоня-лікар</center></td></tr>
  </table>


<h4>Чмоня — інтернет-мем, що виник у березні 2022 року, як висміювання незграбного зовнішнього вигляду російських військових, що беруть участь у російському вторгненні в Україну.</h4>
<h5>Мем набув широкої популярності, зокрема, у TikTok, де відео з ним збирають мільйони переглядів. Зокрема «Чмоня» став героєм не одного десятку фотожаб.</h5>


{% endblock content %}
	