div
{font:14pt sans-serif; 
text-align:center;}
#b1
{width:100%;}
#b2
{width:1200px;
height:190px;
padding:10px;
margin-bottom:20px;
background-color:brown;}
#b3
{width:820px;
height:820px;
margin-bottom:20px;
float:left;
background-color:blue;}
#b4
{width:370px; 
height:605px; 
margin-left:20px; 
margin-bottom:20px; 
background-color:orange; 
background:url(pic1.png); 
padding-top:10px; 
padding-left:10px; 
img-align:center;
float:left;}
#b5
{width:380px;  
height:185px; 
background-color:red;
margin-left:840px;
margin-top:655px;}
#b6
{width:1200px;  
height:190px; 
padding:10px; 
background-color:green; 
clear:both;}